<div *ngIf="profileData" class="profile-container">
    <img [src]="profileData.avatar" alt="Profile Avatar" class="avatar" />
    <div class="info-container">
      <h2>{{ profileData.name }}</h2>
      <p>{{ profileData.job }}</p>
      <div class="follow">
        <div class="follow-column">
          <p class="follow-label">Followers:</p>
          <p class="follow-value">{{ profileData.followers  }}</p>
        </div>
        <div class="follow-column">
          <p class="follow-label">Following:</p>
          <p class="follow-value">{{ profileData.following  }}</p>
        </div>
      </div>
    </div>
  </div>
  

